<div class="news">
    <h1 class="page__title">
        Новини
    </h1>
    <article class="news__one-article">
        <h2 class="article__title">
            Відсоток участі у сукупному виробництву електричної енергії, %.
        </h2>
        <canvas id="lineChart"></canvas>
    </article>
    <article class="news__one-article">
        <h2 class="article__title">
            Зміна частки атомних електричних мтпнцій у виробництві електричної енергії, %.
        </h2>
        <canvas id="barChart"></canvas>
    </article>
    <article class="news__one-article">
        <h2 class="article__title">
            Енергетичні	потужності,	що	встановлені в Європі впродовж 2016 рокуф, МВт
        </h2>
        <canvas id="radarChart"></canvas>
    </article>
    <article class="news__one-article">
        <h2 class="article__title">
            Структура енергетичних потужностей в Європі	на кінець 2016 року, МВт
        </h2>
        <canvas id="pieChart"></canvas>
    </article>
</div>
