<div class="completed-projects">
    <h1 class="page__title">
        Виконані проекти
    </h1>
    <h2 class="completed-projects__title-list">
        Переспективні кроки розвитку енергетичного сектору України:
    </h2>
    <mat-list role="list">
        <mat-list-item role="listitem">
            завершення першої черги Дністровської ГАЕС, першої черги Ташлицької ГАЕС до 2015 року;
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            будівництво другої черги Ташлицької ГАЕС і будівництво другої черги Дністровської ГАЕС до 2020 року;
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            продовження будівництва Канівської ГАЕС потужністю 1000 МВт з пуском першого гідроагрегату в 2021 році;
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            завершення проектування до 2014 року та розширення Каховської ГЕС потужністю 270 МВт до 2020 року;
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            реконструкція та розширення Теребле-Рікської ГЕС із збільшенням потужності на 30 МВт до 2020 року.
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            Внесені зміни в "Закон України про електроенергетику"
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            Проведення економічної стимуляції впровадження зеленої енергетики
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>









