<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <div class="content">
    <header class="header">
      <nav class="header__maim-menu-wrap container">
        <ul class="header__main-menu">
          <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">
              Головна
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/news">
              Новини
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/analytics">
              Аналітика
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/completed-projects">
              Виконані проекти
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer">
    <p class="footer__copyright container">
      Small electricity producers &copy; 2018 All rights reserved
    </p>
  </footer>
</div>



