.analytics {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.page__title,
.analytics__title {
  padding: 30px 0;
}

.analytics__table {
  margin: 30px 15px;
  padding: 12px 0;
  overflow: auto;
}

.analytics__title-head {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}